openapi: 3.0.3
info:
  title: NFL Pro API
  description: NFL's Pro API for accessing advanced statistics, film room content, player data, and fantasy information. This
    API provides comprehensive access to NFL Pro features including Next Gen Stats, Film Room analysis, player projections,
    and game insights.
  version: 1.0.0
  contact:
    name: NFL
    url: https://www.nfl.com
servers:
- url: https://pro.nfl.com
  description: Production NFL Pro API
security:
- NFLAuth: []
tags:
- description: Game betting odds and lines
  name: Betting
- description: Game previews, film cards, and insights
  name: Content
- description: Editorial insights and analytics content about NFL players and games
  name: Content Insights
- description: Individual defensive player pass rush statistics and analytics
  name: Defensive Pass Rush Statistics
- description: Comprehensive individual defensive player statistics and analytics
  name: Defensive Player Overview
- description: Individual defensive player statistics and coverage analytics
  name: Defensive Statistics
- description: Fantasy football player statistics and scoring metrics
  name: Fantasy Statistics
- description: Advanced play analysis and film study data
  name: Filmroom
- description: Individual player passing statistics and analytics by week
  name: Player Passing Statistics
- description: Individual player receiving statistics and analytics
  name: Player Receiving Statistics
- description: Individual player rushing statistics and analytics
  name: Player Rushing Statistics
- description: Individual player passing statistics and analytics
  name: Player Statistics
- description: Player information, statistics, and projections
  name: Players
- description: Play-by-play data and film room analysis
  name: Plays
- description: Game schedules, matchup rankings, and injury reports
  name: Schedules
- description: Current games, standings, and betting futures
  name: Schedules Extended
- description: Real-time scoring and game status endpoints
  name: Scores
- description: Season weeks and bye information
  name: Season Schedule
- description: Premium coaches film video content with multiple camera angles
  name: Secured Videos
- description: Comprehensive game and team statistics endpoints
  name: Stats
- description: Comprehensive team defensive pass statistics and situational analytics
  name: Team Defense Pass Statistics
- description: Comprehensive team defensive rush statistics and situational analytics
  name: Team Defense Rush Statistics
- description: Comprehensive team defensive statistics and situational analytics
  name: Team Defense Statistics
- description: Comprehensive team offensive overview statistics and situational analytics
  name: Team Offense Overview Statistics
- description: Comprehensive team offensive pass statistics and situational analytics
  name: Team Offense Pass Statistics
- description: Team information, rosters, and schedules
  name: Teams
- description: Game and play-level win probability analytics
  name: Win Probability
paths:
  /api/content/game/preview:
    get:
      description: Retrieves preview content and insights for a specific game based on teams and week. Returns preview information,
        matchup analysis, and key storylines.
      operationId: getGamePreview
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week number
        in: query
        name: week
        required: true
        schema:
          example: 4
          type: integer
      - description: Visiting team display name
        in: query
        name: visitorDisplayName
        required: true
        schema:
          example: Minnesota Vikings
          type: string
      - description: Home team display name
        in: query
        name: homeDisplayName
        required: true
        schema:
          example: Pittsburgh Steelers
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamePreviewResponse'
          description: Successfully retrieved game preview
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal server error
      summary: Get Game Preview Content
      tags:
      - Content
  /api/content/home-film-cards:
    get:
      description: Retrieves featured film room content cards for the home page. Returns weekly playlists and featured player
        film breakdowns.
      operationId: getHomeFilmCards
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeFilmCardsResponse'
          description: Successfully retrieved film cards
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Home Film Cards
      tags:
      - Content
  /api/content/insights/game:
    get:
      description: Retrieves analytical insights and advanced statistics for a specific game. Can filter by tags and exclude
        specific content types.
      operationId: getGameInsights
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Maximum number of insights to return
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 100
          maximum: 100
          minimum: 1
          type: integer
      - description: Comma-separated list of tags to filter by
        in: query
        name: tags
        required: false
        schema:
          example: pro-preview
          type: string
      - description: Comma-separated list of tags to exclude
        in: query
        name: excludeTags
        required: false
        schema:
          example: betting
          type: string
      - description: FAPI Game identifier (UUID)
        in: query
        name: fapiGameId
        required: true
        schema:
          example: f688dfde-311e-11f0-b670-ae1250fadad1
          format: uuid
          type: string
      - description: Away team identifier
        in: query
        name: awayTeamId
        required: true
        schema:
          example: '3000'
          type: string
      - description: Home team identifier
        in: query
        name: homeTeamId
        required: true
        schema:
          example: '3900'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GameInsight'
                type: array
          description: Successfully retrieved game insights
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Game-Specific Insights
      tags:
      - Content
  /api/content/insights/season:
    get:
      description: |
        Retrieves curated editorial insights and analytics content for NFL players during
        a specified season. Returns expert commentary combining Next Gen Stats data with
        editorial analysis, including pregame previews, postgame breakdowns, fantasy insights,
        and evergreen content. Supports filtering by player, team, content tags, and publication
        limits for targeted content discovery.
      operationId: getSeasonContentInsights
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Maximum number of insights to return
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 60
          maximum: 100
          minimum: 1
          type: integer
      - description: Content tags to filter by (supports multiple comma-separated tags)
        explode: true
        in: query
        name: tags
        required: false
        schema:
          example:
          - nfl-pro
          items:
            enum:
            - nfl-pro
            - editorial
            - next-gen-stats
            - pregame
            - postgame
            - fantasy
            - pro-preview
            - pro-matchup
            - evergreen
            type: string
          type: array
        style: form
      - description: Filter by specific team identifier
        in: query
        name: teamId
        required: false
        schema:
          example: '3900'
          type: string
      - description: Filter by specific player NFL identifier
        in: query
        name: nflId
        required: false
        schema:
          example: '46101'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insight'
                type: array
          description: Successfully retrieved insights
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Season Content Insights
      tags:
      - Content Insights
  /api/players/player:
    get:
      description: |
        Retrieves detailed information about a specific NFL player including physical attributes,
        team information, draft details, and current status.
      operationId: getPlayer
      parameters:
      - description: NFL player identifier
        in: query
        name: nflId
        required: true
        schema:
          example: 54517
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: './nfl-shared.yaml#/components/schemas/PlayerDetail'
          description: Successfully retrieved player details
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '404':
          description: Player not found
        '500':
          description: Internal server error
      summary: Get Player Details
      tags:
      - Players
  /api/players/projectedStats:
    get:
      description: |
        Retrieves projected fantasy statistics for players based on team, season, and week.
        Returns data in JSON:API format with relationships between players and their projected stats.
      operationId: getProjectedStats
      parameters:
      - description: Filter by NFL team ID (UUID format)
        in: query
        name: filter[nflTeamId]
        required: false
        schema:
          example: 10403000-5851-f9d5-da45-78365a05b6b0
          format: uuid
          type: string
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Week number within the season
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      - description: Number of results per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectedStatsResponse'
          description: Successfully retrieved projected statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Projected Player Statistics
      tags:
      - Players
  /api/players/search:
    get:
      description: |
        Searches for NFL players by name or term. Returns a list of players matching the search criteria
        including both active and retired players.
      operationId: searchPlayers
      parameters:
      - description: Search term for player name (first or last name)
        in: query
        name: term
        required: true
        schema:
          example: Pickens
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSearchResponse'
          description: Successfully retrieved search results
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Search Players
      tags:
      - Players
  /api/plays/summaryPlay:
    get:
      description: |
        Retrieves detailed information about a specific play in a game including play description,
        statistics, involved players, win probability, and expected points.
      operationId: getSummaryPlay
      parameters:
      - description: Game identifier (UUID format)
        in: query
        name: gameId
        required: true
        schema:
          example: f665fc10-311e-11f0-b670-ae1250fadad1
          format: uuid
          type: string
      - description: Play identifier within the game
        in: query
        name: playId
        required: true
        schema:
          example: 40
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaySummaryResponse'
          description: Successfully retrieved play summary
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '404':
          description: Play not found
        '500':
          description: Internal server error
      summary: Get Play Summary
      tags:
      - Plays
  /api/schedules/current:
    get:
      description: |
        Retrieves all games for the current week of the NFL season.
        Returns comprehensive game data including teams, venues, broadcast information,
        scores (for completed games), and ticket details. The endpoint automatically
        determines the current week based on the current date.
      operationId: getCurrentWeekGames
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentGamesResponse'
          description: Successfully retrieved current week games
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal server error
      summary: Get Current Week Games
      tags:
      - Schedules Extended
  /api/schedules/game:
    get:
      description: |
        Retrieves detailed information for a specific game by its ID.
        Returns comprehensive game data including teams, score, venue, broadcast information,
        and current game status.
      operationId: getScheduledGame
      parameters:
      - description: Game identifier (UUID format)
        in: query
        name: gameId
        required: true
        schema:
          example: f665fc10-311e-11f0-b670-ae1250fadad1
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetail'
          description: Successfully retrieved game details
        '400':
          description: Invalid game ID
        '401':
          description: Unauthorized
        '404':
          description: Game not found
        '500':
          description: Internal server error
      summary: Get Single Game Details
      tags:
      - Schedules
  /api/schedules/game/matchup/rankings:
    get:
      description: |
        Retrieves comprehensive matchup rankings and statistical comparisons for both teams in a specific game.
        Returns offensive, defensive, and special teams rankings with Z-scores and advantage ratings
        for various statistical categories.
      operationId: getGameMatchupRankings
      parameters:
      - description: Game identifier (10-digit format YYYYMMDDNN)
        in: query
        name: gameId
        required: true
        schema:
          example: '2025092500'
          pattern: ^\d{10}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchupRankingsResponse'
          description: Successfully retrieved matchup rankings
        '400':
          description: Invalid game ID
        '401':
          description: Unauthorized
        '404':
          description: Game not found
        '500':
          description: Internal server error
      summary: Get Game Matchup Rankings
      tags:
      - Schedules
  /api/schedules/game/team/injuries:
    get:
      description: |
        Retrieves injury report information for a specific team in a given week.
        Returns player injury status and details for the specified team and week.
      operationId: getTeamInjuries
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Team identifier (UUID format)
        in: query
        name: teamId
        required: true
        schema:
          example: 10403000-5851-f9d5-da45-78365a05b6b0
          format: uuid
          type: string
      - description: Week number within the season
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: './nfl-shared.yaml#/components/schemas/InjuryReportResponse'
          description: Successfully retrieved injury report
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '404':
          description: Team not found
        '500':
          description: Internal server error
      summary: Get Team Injuries for Game Week
      tags:
      - Schedules
  /api/schedules/games:
    get:
      description: |
        Retrieves all games for a specific season, season type, and week.
        Returns comprehensive game data including teams, venues, broadcast information,
        and ticket details for all games in the specified week.
      operationId: getScheduledGames
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week number within the season
        in: query
        name: week
        required: true
        schema:
          example: 3
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesResponse'
          description: Successfully retrieved games
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal server error
      summary: Get Games by Week
      tags:
      - Schedules
  /api/schedules/genius/future/odds:
    get:
      description: |
        Retrieves comprehensive betting futures data including Super Bowl odds,
        conference championship odds, and division winner odds for all teams.
        Returns decimal odds for each selection along with availability status.
        This endpoint provides futures market data across multiple betting hierarchies.
      operationId: getFutureBettingOdds
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesOddsResponse'
          description: Successfully retrieved betting futures
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Future Betting Odds
      tags:
      - Schedules Extended
  /api/schedules/standings:
    get:
      description: |
        Retrieves comprehensive team standings for a specific season, season type, and week.
        Returns detailed standings information including division, conference, home/away records,
        win percentages, points for/against, current streaks, and clinching scenarios.
        Standings are calculated through the specified week.
      operationId: getTeamStandings
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week number within the season
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: './nfl-shared.yaml#/components/schemas/StandingsResponse'
          description: Successfully retrieved standings
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Team Standings
      tags:
      - Schedules Extended
  /api/schedules/week/odds:
    get:
      description: |
        Retrieves comprehensive betting odds for all games in a specified week.
        Returns point spreads, money lines, and totals (over/under) for each game
        with the latest odds updates from betting markets.
      operationId: getWeeklyBettingOdds
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week number within the season
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyOddsResponse'
          description: Successfully retrieved betting odds
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal server error
      summary: Get Weekly Betting Odds
      tags:
      - Betting
  /api/schedules/weeks:
    get:
      description: Retrieves all weeks for a specific season including preseason, regular season, and postseason weeks. Returns
        week dates, types, and teams on bye for each week. This endpoint provides a comprehensive season calendar with all
        scheduling information.
      operationId: getScheduleSeasonWeeks
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonWeeksResponse'
          description: Successfully retrieved season weeks
        '400':
          description: Invalid season parameter
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Season Weeks
      tags:
      - Season Schedule
  /api/scores/live/games:
    get:
      description: |
        Retrieves real-time scores and game status for all games in a specified week.
        This endpoint updates frequently (15-second cache) to provide live scoring updates
        during active games. Returns an empty array when no games are currently being played.
      operationId: getLiveGameScores
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week number
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveScoresResponse'
          description: Successfully retrieved live scores
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      summary: Get Live Game Scores
      tags:
      - Scores
  /api/secured/plays/winProbability:
    get:
      description: |
        Retrieves comprehensive win probability data for every play in specified games.
        Returns pre-game win probabilities and detailed play-by-play probability changes,
        including Win Probability Added (WPA) metrics for each play. This advanced analytics
        endpoint tracks how each play impacts the probability of each team winning the game.
        Supports querying multiple games simultaneously.
      operationId: getPlaysWinProbability
      parameters:
      - description: 'Game identifier(s) in 10-digit format (YYYYMMDDNN). Can be a single game ID or multiple game IDs for
          batch retrieval. '
        examples:
          multiple:
            summary: Multiple games
            value:
            - '2025092800'
            - '2025092104'
          single:
            summary: Single game
            value: '2025092800'
        in: query
        name: gameId
        required: true
        schema:
          oneOf:
          - pattern: ^\d{10}$
            type: string
          - items:
              pattern: ^\d{10}$
              type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WinProbabilityResponse'
                - items:
                    $ref: '#/components/schemas/WinProbabilityResponse'
                  type: array
          description: Successfully retrieved win probability data
        '400':
          description: Invalid game ID format
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions to access secured endpoint
        '404':
          description: Game not found
        '500':
          description: Internal server error
      summary: Get Game Win Probability by Plays
      tags:
      - Win Probability
  /api/secured/plays/winProbabilityMin:
    get:
      description: |
        Retrieves minimal win probability data for specified games, including pregame
        win probabilities and play-by-play probability changes throughout the game.
        This endpoint provides essential win probability metrics with optimized data
        structure for performance. Supports multiple games in a single request.
      operationId: getWinProbabilityMin
      parameters:
      - description: |
          Football API game identifiers (UUID format). Supports multiple game IDs
          to retrieve win probability data for multiple games simultaneously.
        example:
        - f666051f-311e-11f0-b670-ae1250fadad1
        - f6660056-311e-11f0-b670-ae1250fadad1
        - f665fc10-311e-11f0-b670-ae1250fadad1
        explode: true
        in: query
        name: fapiGameId
        required: true
        schema:
          items:
            format: uuid
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WinProbabilityResponse'
          description: Successfully retrieved win probability data
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '404':
          description: Game(s) not found
        '500':
          description: Internal server error
      summary: Get Minimal Win Probability Data
      tags:
      - Win Probability
  /api/secured/stats/defense/nearest/season:
    get:
      description: Retrieves comprehensive defensive statistics for NFL players during a specified season. Returns detailed
        coverage metrics including targets allowed, completion rates, pass rating allowed, yards after catch prevention, and
        advanced Next Gen Stats data. Supports filtering by qualified defenders, teams, and various sorting options. Data
        includes traditional defensive stats and advanced analytics like EPA (Expected Points Added), CROE (Completion Rate
        Over Expected), receiver separation allowed, and coverage snap counts.
      operationId: getDefensiveStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: cov
          enum:
          - cov
          - covNd
          - tgtNd
          - recNd
          - recYdsNd
          - recTdNd
          - int
          - passRatingNd
          - tgtEpaNd
          - catchNd
          - croeNd
          - bhPct
          - sep
          - twfPct
          - yacprNd
          - tgtRNd
          example: cov
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified defenders (minimum snap threshold)
        in: query
        name: qualifiedDefender
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamDefense
        required: false
        schema:
          example:
          - '3800'
          - '1800'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefensiveStatsResponse'
          description: Successfully retrieved defensive statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Defensive Player Statistics by Season
      tags:
      - Defensive Statistics
  /api/secured/stats/defense/overview/season:
    get:
      description: Retrieves comprehensive defensive overview statistics for NFL players during a specified season. Returns
        detailed metrics including traditional defensive stats (tackles, stops, sacks), coverage metrics (targets, completions
        allowed, pass rating allowed), pass rush data, and advanced analytics. Supports filtering by qualified defenders,
        teams, and various sorting options. Data includes snap counts, tackle efficiency, coverage effectiveness, and situational
        performance.
      operationId: getDefensiveOverviewStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 3
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: snap
          enum:
          - snap
          - rd
          - pr
          - tck
          - tStop
          - hStop
          - qbp
          - qbpR
          - sack
          - tgtNd
          - recNd
          - recYdsNd
          - recTdNd
          - int
          - passRatingNd
          - gameSnap
          - snapPct
          example: sack
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified defenders (minimum snap threshold)
        in: query
        name: qualifiedDefender
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamDefense
        required: false
        schema:
          example:
          - '3000'
          - '3900'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefensiveOverviewStatsResponse'
          description: Successfully retrieved defensive overview statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Defensive Player Overview Statistics by Season
      tags:
      - Defensive Player Overview
  /api/secured/stats/defense/passRush/season:
    get:
      description: |
        Retrieves comprehensive pass rush statistics for NFL defensive players during a specified season.
        Returns detailed metrics including pressures, sacks, quarterback hits, time to throw allowed,
        pass rush productivity, and Next Gen Stats data. Supports filtering by qualified defenders,
        teams, and various sorting options. Data includes traditional pass rush stats and advanced
        analytics like pass rush grade, pressure rate, and time to sack metrics.
      operationId: getDefensivePassRushStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: pr
          enum:
          - pr
          - prR
          - qbp
          - qbpR
          - ttp
          - qp
          - sack
          - sackR
          - tts
          - prGo
          - turnQbp
          - gameSnap
          example: pr
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified defenders (minimum snap threshold)
        in: query
        name: qualifiedDefender
        required: false
        schema:
          default: false
          example: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassRushStatsResponse'
          description: Successfully retrieved pass rush statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Defensive Pass Rush Statistics by Season
      tags:
      - Defensive Pass Rush Statistics
  /api/secured/stats/fantasy/season:
    get:
      description: |
        Retrieves comprehensive fantasy football statistics for NFL players during a specified season.
        Returns fantasy-relevant metrics including standard scoring, PPR scoring, snap counts, and
        target share data. Supports filtering by position groups (QB, RB, WR, TE, SPEC), teams,
        minimum offensive snap thresholds, and rolling N-week windows for recent performance analysis.
        Data includes traditional fantasy categories and advanced metrics for lineup optimization.
      operationId: getFantasyStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: fpStd
          enum:
          - fpStd
          - fpPpr
          - fpHalfPpr
          - passYds
          - passTd
          - passInt
          - rushYds
          - rushTd
          - recYds
          - recTd
          - rec
          - tgt
          - snapPct
          - targetShare
          - redZoneTargets
          example: fpStd
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter by position groups (supports multiple positions)
        explode: true
        in: query
        name: positionGroup
        required: false
        schema:
          example:
          - QB
          items:
            enum:
            - QB
            - RB
            - WR
            - TE
            - SPEC
            type: string
          type: array
        style: form
      - description: Filter by specific offensive team ID
        in: query
        name: teamOffense
        required: false
        schema:
          example: '3900'
          type: string
      - description: Filter by specific defensive team ID (opponent analysis)
        in: query
        name: teamDefense
        required: false
        schema:
          example: '4600'
          type: string
      - description: Minimum offensive snaps threshold for inclusion
        in: query
        name: minOffensiveSnaps
        required: false
        schema:
          default: 0
          example: 75
          minimum: 0
          type: integer
      - description: Number of recent weeks to analyze (rolling window)
        in: query
        name: lastNWeeks
        required: false
        schema:
          example: 3
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyStatsResponse'
          description: Successfully retrieved fantasy statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Fantasy Football Statistics by Season
      tags:
      - Fantasy Statistics
  /api/secured/stats/players-offense/passing/season:
    get:
      description: |
        Retrieves comprehensive passing statistics for NFL players during a specified season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified passers only, and various sorting options.
        Data includes completion percentage, yards per attempt, passer rating, EPA (Expected Points Added),
        CPOE (Completion Percentage Over Expected), time to throw metrics, and situational statistics.
      operationId: getPlayerPassingStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          $ref: '#/components/schemas/PassingStatsCategoryEnum'
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified passers (minimum attempts threshold)
        in: query
        name: qualifiedPasser
        required: false
        schema:
          default: true
          example: true
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3000'
          - '3900'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassingStatsResponse'
          description: Successfully retrieved passing statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Passing Statistics by Season
      tags:
      - Player Statistics
  /api/secured/stats/players-offense/passing/week:
    get:
      description: |
        Retrieves comprehensive passing statistics for NFL players during a specified week and season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified passers, and various sorting options.
        Data includes completion percentage, yards per attempt, passer rating, EPA (Expected Points Added),
        CPOE (Completion Percentage Over Expected), time to throw metrics, and game-specific context.
      operationId: getPlayerPassingStatsByWeek
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week identifier
        in: query
        name: week
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/WeekSlugEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          $ref: '#/components/schemas/PassingStatsCategoryEnum'
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified passers (minimum attempts threshold)
        in: query
        name: qualifiedPasser
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3900'
          - '3200'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyPassingStatsResponse'
          description: Successfully retrieved passing statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Passing Statistics by Week
      tags:
      - Player Passing Statistics
  /api/secured/stats/players-offense/receiving/season:
    get:
      description: |
        Retrieves comprehensive receiving statistics for NFL players during a specified season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified receivers, and various sorting options.
        Data includes catch percentage, yards per reception, EPA (Expected Points Added), CROE
        (Catch Rate Over Expected), target share, route depth, separation metrics, and YAC analytics.
      operationId: getPlayerReceivingStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 3
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          $ref: '#/components/schemas/ReceivingStatsCategoryEnum'
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified receivers (minimum target threshold)
        in: query
        name: qualifiedReceiver
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3000'
          - '3900'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivingStatsResponse'
          description: Successfully retrieved receiving statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Receiving Statistics by Season
      tags:
      - Player Receiving Statistics
  /api/secured/stats/players-offense/receiving/week:
    get:
      description: |
        Retrieves comprehensive receiving statistics for NFL players during a specified week and season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified receivers, and various sorting options.
        Data includes catch percentage, yards per reception, EPA (Expected Points Added), CROE
        (Catch Rate Over Expected), target share, route depth, separation metrics, and YAC analytics.
      operationId: getPlayerReceivingStatsByWeek
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week identifier
        in: query
        name: week
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/WeekSlugEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          $ref: '#/components/schemas/ReceivingStatsCategoryEnum'
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified receivers (minimum target threshold)
        in: query
        name: qualifiedReceiver
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3900'
          - '3200'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivingStatsResponse'
          description: Successfully retrieved receiving statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Receiving Statistics by Week
      tags:
      - Player Receiving Statistics
  /api/secured/stats/players-offense/rushing/season:
    get:
      description: |
        Retrieves comprehensive rushing statistics for NFL players during a specified season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified rushers, and various sorting options.
        Data includes yards per carry, EPA (Expected Points Added), RYOE (Rush Yards Over Expected),
        efficiency metrics, yards before/after contact, and situational breakdowns.
      operationId: getPlayerRushingStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 3
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: yds
          enum:
          - att
          - yds
          - td
          - ypc
          - epa
          - epaAtt
          - xRy
          - xYpc
          - ryoe
          - ryoeAtt
          - yaco
          - yacoAtt
          - ybco
          - success
          - fum
          - lost
          - rush10PYds
          - rush15PMph
          - rush20PMph
          - eff
          - inTPct
          - stBoxPct
          - underPct
          example: yds
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified rushers (minimum attempts threshold)
        in: query
        name: qualifiedRusher
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3000'
          - '3900'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RushingStatsResponse'
          description: Successfully retrieved rushing statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Rushing Statistics by Season
      tags:
      - Player Rushing Statistics
  /api/secured/stats/players-offense/rushing/week:
    get:
      description: |
        Retrieves comprehensive rushing statistics for NFL players during a specified week and season.
        Returns detailed metrics including traditional stats, advanced analytics, and Next Gen Stats
        data. Supports filtering by teams, qualified rushers, and various sorting options.
        Data includes yards per carry, EPA (Expected Points Added), RYOE (Rush Yards Over Expected),
        efficiency metrics, yards before/after contact, and game-specific context.
      operationId: getPlayerRushingStatsByWeek
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Week identifier
        in: query
        name: week
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/WeekSlugEnum'
      - description: Maximum number of players to return
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: yds
          enum:
          - att
          - yds
          - td
          - ypc
          - epa
          - epaAtt
          - xRy
          - xYpc
          - ryoe
          - ryoeAtt
          - yaco
          - yacoAtt
          - ybco
          - success
          - fum
          - lost
          - rush10PYds
          - rush15PMph
          - rush20PMph
          - eff
          - inTPct
          - stBoxPct
          - underPct
          example: yds
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter to only qualified rushers (minimum attempts threshold)
        in: query
        name: qualifiedRusher
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Filter by specific team IDs (supports multiple teams)
        explode: true
        in: query
        name: teamOffense
        required: false
        schema:
          example:
          - '3900'
          - '3200'
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyRushingStatsResponse'
          description: Successfully retrieved rushing statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Player Rushing Statistics by Week
      tags:
      - Player Rushing Statistics
  /api/secured/stats/team-defense/overview/season:
    get:
      description: Retrieves comprehensive defensive statistics for NFL teams during a specified season. Returns detailed
        metrics including traditional defensive stats, advanced analytics like EPA and RYOE, Next Gen Stats data, and situational
        performance breakdowns. Supports filtering by various defensive situations including personnel packages (Base, Nickel,
        Dime), game situations (leading, trailing, tied), field positions (red zone, goal-to-go), and offensive formations
        faced (shotgun, under center, pistol, motion).
      operationId: getTeamDefenseStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of teams to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: ypg
          enum:
          - total
          - pass
          - run
          - yds
          - passPct
          - ypp
          - td
          - passTd
          - rushTd
          - epa
          - epaPP
          - passYds
          - passYpp
          - epaPass
          - epaPassPP
          - rushYds
          - rushYpp
          - epaRush
          - epaRushPP
          - ttt
          - qbp
          - qbpPct
          - sackedYds
          - ryoe
          - interception
          - forcedFumble
          - fumbleRecovered
          - defensiveTouchdown
          - totalTakeaways
          - ppg
          - ypg
          - passYpg
          - rushYpg
          - sackedYpg
          example: ypg
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Defensive situation splits to filter by (supports multiple values)
        explode: true
        in: query
        name: split
        required: false
        schema:
          example:
          - TEAM_DEFENSE_NICKEL
          - TEAM_DEFENSE_RED_ZONE
          items:
            enum:
            - TEAM_DEFENSE_BASE
            - TEAM_DEFENSE_NICKEL
            - TEAM_DEFENSE_DIME
            - TEAM_DEFENSE_WHEN_LEADING
            - TEAM_DEFENSE_WHEN_TRAILING
            - TEAM_DEFENSE_WHEN_TIED
            - TEAM_DEFENSE_RED_ZONE
            - TEAM_DEFENSE_GOAL_TO_GO
            - TEAM_DEFENSE_SHOTGUN
            - TEAM_DEFENSE_UNDER_CENTER
            - TEAM_DEFENSE_PISTOL
            - TEAM_DEFENSE_MOTION
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDefenseStatsResponse'
          description: Successfully retrieved team defense statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Team Defense Statistics by Season
      tags:
      - Team Defense Statistics
  /api/secured/stats/team-defense/pass/season:
    get:
      description: |
        Retrieves comprehensive pass defense statistics for NFL teams during a specified season.
        Returns detailed metrics including traditional defensive stats, advanced analytics like EPA
        and YACOE (Yards After Catch Over Expected), Next Gen Stats data, and situational performance
        breakdowns. Supports various sorting options and includes pressure rates, coverage metrics,
        quarterback disruption stats, and receiver separation allowed.
      operationId: getTeamDefensePassStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of teams to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: passYpg
          enum:
          - total
          - pass
          - passPct
          - passTd
          - passYds
          - passYpp
          - epaPass
          - epaPassPP
          - ttt
          - qbp
          - qbpPct
          - sackedYds
          - sack
          - sackPct
          - ttp
          - blitzPct
          - yac
          - yacoe
          - sep
          - go
          - passYpg
          - sackedYpg
          example: passYpg
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDefensePassStatsResponse'
          description: Successfully retrieved team defense pass statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Team Defense Pass Statistics by Season
      tags:
      - Team Defense Pass Statistics
  /api/secured/stats/team-defense/rush/season:
    get:
      description: |
        Retrieves comprehensive rush defense statistics for NFL teams during a specified season.
        Returns detailed metrics including traditional run defense stats, advanced analytics like EPA
        and RYOE (Rush Yards Over Expected), Next Gen Stats data, and situational performance
        breakdowns. Supports various sorting options and includes stuff rates, gap analysis,
        box count distributions, and directional rush defense metrics.
      operationId: getTeamDefenseRushStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of teams to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: rushYpg
          enum:
          - total
          - run
          - runPct
          - rushTd
          - rushYds
          - rushYpp
          - epaRush
          - epaRushPP
          - rush10PYds
          - stuffPct
          - ryoe
          - ryoeAtt
          - ybcoAtt
          - yacoAtt
          - inPct
          - outPct
          - lightPct
          - stackedPct
          - rushYpg
          example: rushYpg
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDefenseRushStatsResponse'
          description: Successfully retrieved team defense rush statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Team Defense Rush Statistics by Season
      tags:
      - Team Defense Rush Statistics
  /api/secured/stats/team-offense/overview/season:
    get:
      description: Retrieves comprehensive offensive overview statistics for NFL teams during a specified season. Returns
        detailed metrics including traditional offensive stats, advanced analytics like EPA and efficiency ratings, Next Gen
        Stats data, and situational performance breakdowns. Supports filtering by various offensive situations including formations
        (shotgun, under center, pistol), game situations (leading, trailing, tied), and field positions (red zone, goal-to-go).
        Includes total offense, passing offense, rushing offense, and scoring metrics.
      operationId: getTeamOffenseOverviewStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of teams to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: ypg
          enum:
          - total
          - pass
          - run
          - yds
          - passPct
          - ypp
          - td
          - passTd
          - rushTd
          - epa
          - epaPP
          - passYds
          - passYpp
          - epaPass
          - epaPassPP
          - rushYds
          - rushYpp
          - epaRush
          - epaRushPP
          - to
          - ppg
          - ypg
          - passYpg
          - rushYpg
          - redZonePct
          - thirdDownPct
          example: ypg
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter by specific team identifier
        in: query
        name: teamDefense
        required: false
        schema:
          example: '2250'
          type: string
      - description: Offensive situation splits to filter by (supports multiple values)
        explode: true
        in: query
        name: split
        required: false
        schema:
          example:
          - TEAM_WHEN_LEADING
          items:
            enum:
            - TEAM_SHOTGUN
            - TEAM_UNDER_CENTER
            - TEAM_PISTOL
            - TEAM_WHEN_LEADING
            - TEAM_WHEN_TRAILING
            - TEAM_WHEN_TIED
            - TEAM_RED_ZONE
            - TEAM_GOAL_TO_GO
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamOffenseOverviewStatsResponse'
          description: Successfully retrieved team offense overview statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Team Offense Overview Statistics by Season
      tags:
      - Team Offense Overview Statistics
  /api/secured/stats/team-offense/pass/season:
    get:
      description: |
        Retrieves comprehensive pass offense statistics for NFL teams during a specified season.
        Returns detailed metrics including traditional offensive stats, advanced analytics like EPA
        and YACOE (Yards After Catch Over Expected), Next Gen Stats data, and situational performance
        breakdowns. Supports various sorting options and includes pressure rates, quarterback metrics,
        completion rates, and receiver separation data.
      operationId: getTeamOffensePassStatsBySeason
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Maximum number of teams to return
        in: query
        name: limit
        required: false
        schema:
          default: 35
          example: 35
          maximum: 100
          minimum: 1
          type: integer
      - description: Number of records to skip for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
      - description: Page number for pagination
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
      - description: Field to sort by
        in: query
        name: sortKey
        required: false
        schema:
          default: passYpg
          enum:
          - total
          - pass
          - passPct
          - passTd
          - passYds
          - passYpp
          - epaPass
          - epaPassPP
          - ttt
          - qbp
          - qbpPct
          - att
          - sackedYds
          - sack
          - sackPct
          - ttp
          - blitzPct
          - paPct
          - yac
          - yacoe
          - sep
          - passYpg
          - sackedYpg
          example: passYpg
          type: string
      - description: Sort direction
        in: query
        name: sortValue
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - description: Filter by specific team ID
        in: query
        name: teamDefense
        required: false
        schema:
          example: '2250'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamOffensePassStatsResponse'
          description: Successfully retrieved team offense pass statistics
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Team Offense Pass Statistics by Season
      tags:
      - Team Offense Pass Statistics
  /api/secured/videos/coaches:
    get:
      description: |
        Retrieves premium coaches film video content for specified games and plays.
        Returns multiple camera angles (endzone, sideline, broadcast) for each play,
        providing comprehensive film study material. Requires NFL Plus Premium subscription
        and appropriate geographic restrictions apply (US only).
      operationId: getCoachesFilmVideos
      parameters:
      - description: Game identifiers (UUID format, supports multiple games)
        example:
        - f665fc10-311e-11f0-b670-ae1250fadad1
        - ae9d66f7-1312-11ef-afd1-646009f18b2e
        explode: true
        in: query
        name: gameId
        required: true
        schema:
          items:
            format: uuid
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Play identifiers for specific plays within the games
        example:
        - '267'
        - '1162'
        - '496'
        - '139'
        explode: true
        in: query
        name: playId
        required: true
        schema:
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoachesFilmResponse'
          description: Successfully retrieved coaches film videos
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured video content or geographic restrictions
        '404':
          description: Games or plays not found
        '500':
          description: Internal server error
      summary: Get Coaches Film Videos
      tags:
      - Secured Videos
  /api/secured/videos/filmroom/plays:
    get:
      description: |
        Retrieves detailed play-by-play data with extensive filtering capabilities for film study.
        Returns comprehensive play information including formations, personnel packages, game situations,
        and detailed play descriptions. This endpoint supports advanced filtering by game situation,
        player involvement, formation types, and tactical elements.
      operationId: getFilmroomPlays
      parameters:
      - description: Filter by specific game IDs (supports multiple values)
        in: query
        name: gameId
        required: false
        schema:
          example:
          - f665fc10-311e-11f0-b670-ae1250fadad1
          items:
            format: uuid
            type: string
          type: array
      - description: Filter by week identifier (supports multiple values)
        in: query
        name: weekSlug
        required: false
        schema:
          items:
            $ref: './nfl-shared.yaml#/components/schemas/WeekSlugEnum'
          type: array
      - description: Filter by season year (supports multiple values)
        in: query
        name: season
        required: false
        schema:
          example:
          - 2025
          items:
            type: integer
          type: array
      - description: Filter by season type
        in: query
        name: seasonType
        required: false
        schema:
          example:
          - REG
          items:
            $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
          type: array
      - description: Filter by player NFL ID
        in: query
        name: nflId
        required: false
        schema:
          example:
          - '54517'
          items:
            type: string
          type: array
      - description: Filter by quarter
        in: query
        name: quarter
        required: false
        schema:
          example:
          - 1
          items:
            maximum: 4
            minimum: 1
            type: integer
          type: array
      - description: Filter by down
        in: query
        name: down
        required: false
        schema:
          example:
          - 1
          items:
            maximum: 4
            minimum: 1
            type: integer
          type: array
      - description: Filter by yards to go category
        in: query
        name: yardsToGoType
        required: false
        schema:
          example:
          - SHORT
          items:
            enum:
            - SHORT
            - MID
            - LONG
            type: string
          type: array
      - description: Filter for touchdown plays (1 = yes, 0 = no)
        in: query
        name: touchdown
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for rushing plays of 10+ yards
        in: query
        name: rush10PlusYards
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for plays with fumbles lost
        in: query
        name: fumbleLost
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for plays with fumbles
        in: query
        name: fumble
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by quarterback alignment
        in: query
        name: qbAlignment
        required: false
        schema:
          example:
          - SHOTGUN
          items:
            enum:
            - PISTOL
            - UNDER_CENTER
            - SHOTGUN
            type: string
          type: array
      - description: Filter for red zone plays
        in: query
        name: redzone
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for goal-to-go situations
        in: query
        name: goalToGo
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for passing plays
        in: query
        name: passPlay
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for running plays
        in: query
        name: runPlay
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by specific play types
        in: query
        name: playType
        required: false
        schema:
          example:
          - play_type_rush
          items:
            $ref: './nfl-shared.yaml#/components/schemas/PlayTypeEnum'
          type: array
      - description: Filter for passing attempts
        in: query
        name: attempt
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for completed passes
        in: query
        name: completion
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for interceptions
        in: query
        name: interception
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for receptions
        in: query
        name: reception
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter for sacks
        in: query
        name: sack
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by receiver motion
        in: query
        name: rec_motion
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by target location on field
        in: query
        name: targetLocation
        required: false
        schema:
          example:
          - BETWEEN_HASHES
          items:
            enum:
            - DOWN_SEAMS
            - BETWEEN_HASHES
            - OUTSIDE_NUMBERS
            type: string
          type: array
      - description: Filter by air yards category
        in: query
        name: airYardType
        required: false
        schema:
          example:
          - SHORT
          items:
            enum:
            - INTERMEDIATE
            - SHORT
            - DEEP
            type: string
          type: array
      - description: Filter by dropback time
        in: query
        name: dropbackTimeType
        required: false
        schema:
          example:
          - QUICK
          items:
            enum:
            - QUICK
            - LONG
            type: string
          type: array
      - description: Filter by quarterback pressure
        in: query
        name: pressure
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by defensive blitz
        in: query
        name: blitz
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by play action usage
        in: query
        name: playAction
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by rush direction
        in: query
        name: rushDirection
        required: false
        schema:
          example:
          - INSIDE
          items:
            enum:
            - INSIDE
            - OUTSIDE
            type: string
          type: array
      - description: Filter for stuffed runs
        in: query
        name: runStuff
        required: false
        schema:
          example:
          - 1
          items:
            $ref: '#/components/schemas/BinaryFlagEnum'
          type: array
      - description: Filter by receiver alignment
        in: query
        name: receiverAlignment
        required: false
        schema:
          example:
          - SLOT
          items:
            enum:
            - SLOT
            - BACKFIELD
            - TIGHT
            - WIDE
            type: string
          type: array
      - description: Filter by receiver separation
        in: query
        name: separationType
        required: false
        schema:
          example:
          - OPEN
          items:
            enum:
            - OPEN
            - TIGHT
            type: string
          type: array
      - description: Filter by defensive personnel package
        in: query
        name: personnel
        required: false
        schema:
          example:
          - NICKEL
          items:
            enum:
            - NICKEL
            - BASE
            - DIME
            type: string
          type: array
      - description: Filter by defenders in the box
        in: query
        name: defendersInTheBoxType
        required: false
        schema:
          example:
          - STACKED
          items:
            enum:
            - LIGHT
            - STACKED
            - NEUTRAL
            type: string
          type: array
      - description: Filter by defensive coverage type
        in: query
        name: def_coverageType
        required: false
        schema:
          example:
          - PRESS
          items:
            enum:
            - PRESS
            - MAN
            - ZONE
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilmroomPlaysResponse'
          description: Successfully retrieved filmroom plays
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for secured content
        '500':
          description: Internal server error
      summary: Get Filmroom Plays with Advanced Filtering
      tags:
      - Filmroom
  /api/stats/boxscore:
    get:
      description: |
        Retrieves comprehensive boxscore data for a specific game including team statistics,
        individual player statistics, and scoring summary. Returns empty arrays for future games.
      operationId: getStatsBoxscore
      parameters:
      - description: Game identifier (10-digit format YYYYMMDDNN)
        in: query
        name: gameId
        required: true
        schema:
          example: '2025092800'
          pattern: ^\d{10}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamBoxScore'
          description: Successfully retrieved boxscore
        '400':
          description: Invalid game ID
        '401':
          description: Unauthorized
        '404':
          description: Game not found
        '500':
          description: Internal server error
      summary: Get Game Boxscore (Stats API)
      tags:
      - Stats
  /api/stats/game/team-rankings:
    get:
      description: |
        Retrieves comprehensive statistical rankings for both teams in a specific game.
        Returns 300+ statistical categories with rankings for offensive, defensive, and special teams performance.
      operationId: getGameTeamRankings
      parameters:
      - description: Season year
        in: query
        name: season
        required: true
        schema:
          example: 2025
          type: integer
      - description: Type of season
        in: query
        name: seasonType
        required: true
        schema:
          $ref: './nfl-shared.yaml#/components/schemas/SeasonTypeEnum'
      - description: Away team UUID
        in: query
        name: awayTeamId
        required: true
        schema:
          example: 10403000-5851-f9d5-da45-78365a05b6b0
          format: uuid
          type: string
      - description: Home team UUID
        in: query
        name: homeTeamId
        required: true
        schema:
          example: 10403900-8251-6892-d81c-4348525c2d47
          format: uuid
          type: string
      - description: Week number
        in: query
        name: week
        required: true
        schema:
          example: 4
          maximum: 18
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamRankingsResponse'
          description: Successfully retrieved team rankings
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
[...]
